build = "npm run bnl"
entrypoint = "dist/main.js"

language = "nix"

[interpreter]
command = [
    "prybar-nodejs",
    "-q",
    "--ps1",
    "\u0001\u001b[33m\u0002\u0001\u001b[00m\u0002 ",
    "-i"
]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/*.js"
staynx = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]